<div class="row-fluid PageHead">
    <h1 style="text-align:center;position:relative;z-index:2;margin-top:43px">教室借用</h1>
    <div class="wrapper" style="height:160px;position:relative;width:100%;margin-top:-100px">
        <div class="bg-bubble-label" style="width:50px;height:50px;margin-left:450px;top:28%"></div>
        <div class="bg-bubble-label2" style="width:50px;height:50px;margin-left:450px;top:28%"></div>
    </div>
</div>
<div class="row-fluid" style="margin-top:10px">
    <nav class="nav" style="width:100%">
      <ul class="nav_menu">
        <li class="nav_menu-item"><a href="/selflist/" target="_blank" style="color:#FFF;text-decoration:none">我的主页</a></li>
        <li class="nav_menu-item"><a href="/mainlist/" target="_blank" style="color:#FFF;text-decoration:none">服务</a>
          <ul class="nav_submenu">
            <li class="nav_submenu-item"> <a class="sub-link" href="/mainlist/" target="_blank"><span>教室查询</span></a></li>
            <li class="nav_submenu-item"> <a class="sub-link" href="/binfo/" target="_blank"><span>时间表</span></a></li>
            <li class="nav_submenu-item"> <a class="sub-link" href="/seediscuss/" target="_blank"><span>评论和推荐</span></a></li>
          </ul>
        </li>
        <li class="nav_menu-item"><a href="/mainlist/" target="_blank" style="color:#FFF;text-decoration:none">关于</a>
        </li>
        <li class="nav_menu-item"><a href="/mainlist/" target="_blank" style="color:#FFF;text-decoration:none">联系方式</a></li>
        <li class="nav_menu-item"><a href="/mainlist/" target="_blank" style="color:#FFF;text-decoration:none">帮助</a></li>
      </ul>
    </nav>
</div>