<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/bootstrap.css" rel="stylesheet">
<link href="/bootstrap-responsive.css" rel="stylesheet" media="screen">
<link href="/hosting.css" rel="stylesheet" media="all">
<link rel="stylesheet" type="text/css" href="/styles.css">
<script type="text/javascript" src="year_month_day.js"></script> 
</head>

<body>
    <div class="container">
        <div class="row-fluid PageHead">
            <h1 style="text-align:center;position:relative;z-index:2;margin-top:43px">教室借用</h1>
            <div class="wrapper" style="height:160px;position:relative;width:100%;margin-top:-100px">
                <div class="bg-bubble-label" style="width:50px;height:50px;margin-left:450px;top:28%"></div>
                <div class="bg-bubble-label2" style="width:50px;height:50px;margin-left:450px;top:28%"></div>
            </div>
        </div>
        <div class="row-fluid" style="margin-top:10px">
            <nav class="nav" style="width:100%">
              <ul class="nav_menu">
                <li class="nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank" style="color:#FFF;text-decoration:none">我的主页</a></li>
                <li class="nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank" style="color:#FFF;text-decoration:none">服务</a>
                  <ul class="nav_submenu">
                    <li class="nav_submenu-item"> <a class="sub-link" href="http://www.lanrentuku.com/" target="_blank"><span>教室查询</span></a></li>
                    <li class="nav_submenu-item"> <a class="sub-link" href="http://www.lanrentuku.com/" target="_blank"><span>时间表</span></a></li>
                    <li class="nav_submenu-item"> <a class="sub-link" href="http://www.lanrentuku.com/" target="_blank"><span>评论和推荐</span></a></li>
                  </ul>
                </li>
                <li class="nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank" style="color:#FFF;text-decoration:none">关于</a>
                  <ul class="nav_submenu">
                    <li class="nav_submenu-item"> <a class="sub-link" href="http://www.lanrentuku.com/" target="_blank"><span>工作组</span></a></li>
                    <li class="nav_submenu-item"> <a class="sub-link" href="http://www.lanrentuku.com/" target="_blank"><span>开发人信息</span></a></li>
                    <li class="nav_submenu-item"> <a class="sub-link" href="http://www.lanrentuku.com/" target="_blank"><span>公司</span></a></li>
                  </ul>
                </li>
                <li class="nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank" style="color:#FFF;text-decoration:none">联系方式</a></li>
                <li class="nav_menu-item"><a href="http://www.lanrentuku.com/" target="_blank" style="color:#FFF;text-decoration:none">帮助</a></li>
              </ul>
            </nav>
        </div>
        <div class="row-fluid">
            <div class="span5 Planlist" style="border-radius:5px;width:400px;height:300px">
                <h2 style="text-align:center">个人信息</h2>
                <p style="margin-top:20px;font-size:20px">用户名：吴大宝</p>
                <p style="margin-top:20px;font-size:20px">注册邮箱：wudabao@qq.com</p>
                <p style="margin-top:20px;font-size:20px">正借用教室数：2</p>
                <p style="margin-top:20px;font-size:20px">历史共计数目：63</p>
                <p style="margin-top:20px;font-size:20px">发表评论数目：21</p>
            </div>
            <div class="span6 Planlist" style="border-radius:5px;width:750px;margin-left:20px;height:300px;">
                <h2 style="text-align:center">最近生效</h2>
                <div class="Planlist" style="border-radius:5px;width:700px;display:block;margin-left:auto;margin-right:auto;">
                    <h3 style="text-align:center">正心-107</h3>
                        <p style="text-align:center">管理人：孙日辉</p>
                        <img src="1.jpg" style="border-radius:10px;display:block;margin-left:auto;margin-right:auto;">
                        <p style="text-align:center">时间：2015-11-18 14：00-16：00</p>
                    <div style="text-align:center">
                        <input type="submit" class="btn btn-success" style="width:80px" value="查询信息">
                        <input type="submit" class="btn btn-success" style="width:80px" value="进行评价">
                        <input type="submit" class="btn btn-success" style="width:80px" value="查看历史">
                        <input type="submit" class="btn btn-success" style="width:80px" value="我要退订">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="Planlist" style="border-radius:5px">
                <h2 style="text-align:center">借用列表</h2>
                <div class="PlanPricing template4">
                    <div class="span2"><h2 style="margin-top:15%">正心-107</h2></div>
                    <div class="span3" style="width:17%">
                        <p style="font-weight:bold;margin-top:12%">管理人：孙日辉</p>
                        <p style="font-weight:bold">时间：2015-11-18 14：00-16：00</p>
                    </div>
                    <div class="span2">
                        <img src="1.jpg" style="margin-left:10px;border-radius:10px">
                    </div>    
                        <input type="submit" class="btn btn-success" style="margin-top:1%;margin-left:50px;width:120px" value="查询信息">
                        <input type="submit" class="btn btn-success" style="margin-top:1%;width:120px" value="进行评价">
                        <input type="submit" class="btn btn-success" style="margin-top:1%;width:120px" value="查看评价">
                        <input type="submit" class="btn btn-success" style="margin-top:1%;width:120px" value="我要退订">
                </div>
                <div class="PlanPricing template4">
                    <div class="span2"><h2 style="margin-top:15%">正心-118</h2></div>
                    <div class="span3" style="width:17%">
                        <p style="font-weight:bold;margin-top:12%">管理人：孙日辉</p>
                        <p style="font-weight:bold">时间：2015-11-18 14：00-16：00</p>
                    </div>
                    <div class="span2">
                        <img src="1.jpg" style="margin-left:10px;border-radius:10px">
                    </div>    
                        <input type="submit" class="btn btn-success" style="margin-top:1%;margin-left:50px;width:120px" value="查询信息">
                        <input type="submit" class="btn btn-success" style="margin-top:1%;width:120px" value="进行评价">
                        <input type="submit" class="btn btn-success" style="margin-top:1%;width:120px" value="查看评价">
                        <input type="submit" class="btn btn-success" style="margin-top:1%;width:120px" value="我要退订">
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="Planlist" style="border-radius:5px">
                <p style="text-align:center;background:#66ffcc">© 2015 哈尔滨工业大学 版权所有</p>
            </div>
        </div>
    </div>
</body>
</html>